<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61696705455-br51pbcgal79epk0ihk7ov072nfb07dk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61696705455-br51pbcgal79epk0ihk7ov072nfb07dk</string>
	<key>API_KEY</key>
	<string>AIzaSyB5gMT7EpS-WieMCYFlYrFdxR0k2rgNTag</string>
	<key>GCM_SENDER_ID</key>
	<string>61696705455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.group29</string>
	<key>PROJECT_ID</key>
	<string>group29-ecb4f</string>
	<key>STORAGE_BUCKET</key>
	<string>group29-ecb4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61696705455:ios:1eb0ec8667edb0b301e55a</string>
</dict>
</plist>